

input[type=text]
{
    border: 1px solid var(--main-border-color);
    background-color: transparent;
    color: var(--MF_Theme_Foreground);
}

    input[type=text]:focus
    {
        outline: none;
    }
