

.progress
{
    min-height: 24px;
    width: 100%;
}

    .progress > div
    {
        min-height: 100%;
        background-color: var(--MF_Progress_Color);
        transition: width 0.1s;
        width: 0%;
    }