

.toggle
{
    --width: 30px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--width) / 2);
    display: inline-block;
    cursor: pointer;
    width: var(--width);
}

    .toggle:hover,
    .toggle:focus
    {
        filter: brightness(var(--MF_Hover));
    }


.toggle__fill
{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--MF_Toggle_Fill_Color);
    /*background: #616161;*/
    transition: background 0.2s;
}



.toggle[IsChecked="1"] > .toggle__fill
{
    background: var(--MF_Theme_Accent);
}



.toggle__fill::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}



.toggle[IsChecked="1"] > .toggle__fill::after
{
    transform: translateX(var(--height));
}


.toggle[IsRotate="90"]
{
    transform: rotate(90deg);
}

.toggle[IsRotate="180"]
{
    transform: rotate(180deg);
}

.toggle[IsRotate="270"]
{
    transform: rotate(270deg);
}