

.button
{
    color: var(--MF_Theme_Text);
    background-color: var(--MF_Theme_Foreground);
    text-decoration: none;
    padding: 5px 7px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-radius: var(--MF_Border_Radius_MD);
    white-space: nowrap;
    cursor: pointer;
    border: none;
    overflow: hidden;
    justify-self: start;
}

    .button > label
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .button:hover,
    .button:focus
    {
        filter: brightness(120%);
    }




