.MF_Modal
{
    display: none;
    /*min-width: 300px;
    min-height: 200px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    max-height: 90vh;
    max-width: 90vw;
    /*width: 100%;
    height: 100%;*/
}

    .MF_Modal[IsVisible="1"]
    {
        display: flex;
    }

    .MF_Modal[NoMask="1"] > .MF_Modal_Mask
    {
        display: none;
    }

.MF_Modal_Mask
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(var(--MF_BG_Theme_Red_HL),var(--MF_BG_Theme_Green_HL),var(--MF_BG_Theme_Blue_HL),0.4);
    backdrop-filter: blur(0.15rem);
    z-index: -1;
}

.MF_Modal_Content
{
    /*display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content auto min-content;*/
    display: flex;
    flex-direction: column;
    gap: 2px;
    /*width: 100%;
    height: 100%;*/
    /*max-width: 100%;
    max-height: 100%;
    min-height: 0;*/ /* NEW */
    /*min-width: 0;*/ /* NEW; needed for Firefox */
    background-color: var(--MF_Theme_Background);
    box-shadow: 0 13px 17px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    min-width: 0;
}

.MF_Modal_Content_Header
{
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content;
    background-color: var(--MF_AppHeader_Background);
    color: var(--MF_Theme_Accent);
    padding: 3px;
    border-radius: 5px 5px 0px 0px;
    /*min-height: 0;
    min-width: 0;*/
}

.MF_Modal_Content_Header_Close
{
    cursor: pointer;
}

    .MF_Modal_Content_Header_Close:hover,
    .MF_Modal_Content_Header_Close:focus
    {
        filter: brightness(var(--MF_Hover));
    }

.MF_Modal_Content_Body
{
    padding: 3px;
    overflow: auto;


    /*overflow-y: scroll;*/
    /*width: 100%;
    height: 100%;*/
    /*max-width: 100%;
    max-height: 100%;
    min-height: 0;
    min-width: 0;*/
}

.MF_Modal_Content_Footer
{
    border-top: 1px solid var(--MF_Theme_Accent);
    padding: 3px;
    border-radius: 0px 0px 5px 5px;
}

.MF_Modal_Content_Footer_Notification
{
    min-height: 20px;
}

    .MF_Modal_Content_Footer_Notification > label
    {
        opacity: 0;
    }

    .MF_Modal_Content_Footer_Notification[IsSaved="1"] > label
    {
        animation: MF_FadeOut ease 1000ms;
        animation-fill-mode: forwards;
        color: var(--MF_Theme_Accent);
        filter: brightness(var(--MF_Hover));
        font-weight: bold;
    }

@keyframes MF_FadeOut
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}