
:root
{
    --MF_Theme_Red: 31;
    --MF_Theme_Green: 34;
    --MF_Theme_Blue: 39;
    --MF_Theme_Background: rgba(var(--MF_Theme_Red), var(--MF_Theme_Green), var(--MF_Theme_Blue),1);
    --MF_Theme_Foreground: #4d646f;
    --MF_Border_Radius_SM: 4px;
    --MF_Border_Radius_MD: 6px;
    --MF_Border_Radius_LG: 8px;
    
    --main-border-color: #4d646f;
    --slider-thumb-color: #435862;
    --slider-track-color: #374850;
    --progress-color: #2c393f;
}
