

.MF_MixerApp
{
    display: flex;
    flex-direction: column;
}

.MF_MixerAppMenu
{
    display: flex;
    flex-direction: row;
}


html
{
    background-color: var(--MF_Theme_Background);
    color: var(--MF_Theme_Foreground);
}





