
:root
{
    --MF_BG_Theme_Red: 33;
    --MF_BG_Theme_Green: 33;
    --MF_BG_Theme_Blue: 33;
    --MF_FG_Theme_Red: 77;
    --MF_FG_Theme_Green: 100;
    --MF_FG_Theme_Blue: 111;
    --MF_Theme_Background: rgba(var(--MF_BG_Theme_Red), var(--MF_BG_Theme_Green), var(--MF_BG_Theme_Blue),1);
    --MF_Theme_Foreground: rgba(var(--MF_FG_Theme_Red), var(--MF_FG_Theme_Green), var(--MF_FG_Theme_Blue),1);
    --MF_Border_Radius_SM: 4px;
    --MF_Border_Radius_MD: 6px;
    --MF_Border_Radius_LG: 8px;
    --MF_VC_Theme_Offset: 10;
    --MF_VC_Theme_Red: calc(var(--MF_BG_Theme_Red) + var(--MF_VC_Theme_Offset));
    --MF_VC_Theme_Green: calc(var(--MF_BG_Theme_Green) + var(--MF_VC_Theme_Offset));
    --MF_VC_Theme_Blue: calc(var(--MF_BG_Theme_Blue) + var(--MF_VC_Theme_Offset));
    --main-border-color: #4d646f;
    --slider-thumb-color: #435862;
    --slider-track-color: #374850;
    --progress-color: #2c393f;
}
