
:root
{
    /* App background ................ */
    --MF_BG_Theme_Red: 33;
    --MF_BG_Theme_Green: 33;
    --MF_BG_Theme_Blue: 33;
    --MF_Theme_Background: rgba(var(--MF_BG_Theme_Red), var(--MF_BG_Theme_Green), var(--MF_BG_Theme_Blue),1);
    /* App header background ......... */
    --MF_AH_Theme_Red: calc(var(--MF_BG_Theme_Red) - 5);
    --MF_AH_Theme_Green: calc(var(--MF_BG_Theme_Green) - 5);
    --MF_AH_Theme_Blue: calc(var(--MF_BG_Theme_Blue) - 5);
    --MF_AppHeader_Background: rgba(var(--MF_AH_Theme_Red), var(--MF_AH_Theme_Green), var(--MF_AH_Theme_Blue),1);
    /* App accent color .............. */
    --MF_AC_Theme_Red: 77;
    --MF_AC_Theme_Green: 100;
    --MF_AC_Theme_Blue: 111;
    --MF_Theme_Accent: rgba(var(--MF_AC_Theme_Red), var(--MF_AC_Theme_Green), var(--MF_AC_Theme_Blue),1);
    /* App background offset/highlight */
    --MF_BG_Theme_Offset: 15;
    --MF_BG_Theme_Red_HL: calc(var(--MF_BG_Theme_Red) + var(--MF_BG_Theme_Offset));
    --MF_BG_Theme_Green_HL: calc(var(--MF_BG_Theme_Green) + var(--MF_BG_Theme_Offset));
    --MF_BG_Theme_Blue_HL: calc(var(--MF_BG_Theme_Blue) + var(--MF_BG_Theme_Offset));
    --MF_Theme_Background_HL: rgba(var(--MF_BG_Theme_Red_HL), var(--MF_BG_Theme_Green_HL), var(--MF_BG_Theme_Blue_HL),1);
    /* App default text color ........ */
    --MF_T_Theme_Red: 200;
    --MF_T_Theme_Green: 200;
    --MF_T_Theme_Blue: 200;
    --MF_Theme_Text: rgba(var(--MF_T_Theme_Red), var(--MF_T_Theme_Green), var(--MF_T_Theme_Blue),1);
    /* Slider Track Color ............ */
    --MF_Slider_Track_Color: rgba(var(--MF_AC_Theme_Red), var(--MF_AC_Theme_Green), var(--MF_AC_Theme_Blue),0.5);
    /* Progress Color ................ */
    --MF_Progress_Color: rgba(var(--MF_AC_Theme_Red), var(--MF_AC_Theme_Green), var(--MF_AC_Theme_Blue),0.25);
    /* Toggle off fill Color ......... */
    --MF_TF_Theme_Red: calc(var(--MF_BG_Theme_Red) + 50);
    --MF_TF_Theme_Green: calc(var(--MF_BG_Theme_Green) + 50);
    --MF_TF_Theme_Blue: calc(var(--MF_BG_Theme_Blue) + 50);
    --MF_Toggle_Fill_Color: rgba(var(--MF_TF_Theme_Red), var(--MF_TF_Theme_Green), var(--MF_TF_Theme_Blue),1);
    --MF_Border_Radius_SM: 4px;
    --MF_Border_Radius_MD: 6px;
    --MF_Border_Radius_LG: 8px;
    --MF_Hover: 130%;
}
