html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: unset !important;
    
}

#Body
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.MF_MixerApp
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*overflow-y: scroll;
    overflow-x: auto;*/
    overflow: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    scroll-behavior: smooth !important;
}

.MF_MixerAppMenu
{
    /*display: flex;
    flex-direction: row;*/

    display: grid;
    grid-template-columns: auto min-content min-content min-content min-content;
    grid-template-rows: min-content;
    column-gap: 5px;
    grid-template-areas:
        "device settings theme display qrcode";
}

.MF_MixerAppMenu_Settings
{
    grid-area: settings;
}

.MF_MixerAppMenu_Theme
{
    grid-area: theme;
}

.MF_MixerAppMenu_Display
{
    grid-area: display;
}

.MF_MixerAppMenu_Device
{
    grid-area: device;
}

.MF_MixerAppMenu_QRCode
{
    grid-area: qrcode;
}


html
{
    background-color: var(--MF_Theme_Background);
    color: var(--MF_Theme_Text);
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number]
{
    -moz-appearance: textfield;
}

input
{
    box-sizing: border-box
}


::-webkit-scrollbar
{
    width: 8px; /* width of the entire scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track
{
    background: var(--MF_Theme_Background); /* color of the tracking area */
}

::-webkit-scrollbar-thumb
{
    background-color: var(--MF_Theme_Accent); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 0px solid var(--MF_Theme_Background); /* creates padding around scroll thumb */
}


:root,
div
{
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: var(--MF_Theme_Accent) var(--MF_Theme_Background); /* scroll thumb and track */
}
