

.MF_MixerApp
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MF_MixerAppMenu
{
    /*display: flex;
    flex-direction: row;*/

    display:grid;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content;
    grid-template-areas: 
        "device settings";
}

.MF_MixerAppMenu_Settings
{
    grid-area: settings;
}

.MF_MixerAppMenu_Device
{
    grid-area: device;
}


html
{
    background-color: var(--MF_Theme_Background);
    color: var(--MF_Theme_Foreground);
}

