

.MF_Settings
{

}

.MF_Settings_Footer
{
    display: grid;
    grid-template-columns: auto min-content;
    align-items: end;
    padding: 5px 5px 5px 5px;
}

.MF_SettingsPanel
{
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content min-content min-content;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    padding: 5px;
    grid-template-areas:
        "startwithwindows starthidden"
        "usedefaultvolume defaultvolume"
        "devicepriorityhelp devicepriorityhelp"
        "soundpriority micpriority";
}

.MF_SettingsPanel_UseDefaultVolume
{
    grid-area: usedefaultvolume;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
}

.MF_SettingsPanel_DefaultVolume
{
    grid-area: defaultvolume;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
}

.MF_SettingsPanel_StartWithWindows
{
    grid-area: startwithwindows;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
}

.MF_SettingsPanel_StartHidden
{
    grid-area: starthidden;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
}



.MF_SettingsPanel_DevicePriorityHelp
{
    grid-area: devicepriorityhelp;
    color: var(--MF_Theme_Accent);
    filter: brightness(var(--MF_Hover));
    padding: 3px;
}

.MF_SettingsPanel_DevicePriorityHeading
{
    background-color: var(--MF_AppHeader_Background);
    color: var(--MF_Theme_Accent);
    padding: 3px;
}

.MF_SettingsPanel_SoundPriority
{
    grid-area: soundpriority;
    border: 1px solid var(--MF_Theme_Accent);
    align-self: start;
}

.MF_SettingsPanel_MicPriority
{
    grid-area: micpriority;
    border: 1px solid var(--MF_Theme_Accent);
    align-self: start;
}

.MF_SettingsPanel_DevicePriorityItems
{
    
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.MF_SettingsPanel_DevicePriority_Item
{
    background-color: var(--MF_Theme_Background_HL);
    display: grid;
    grid-template-columns: min-content auto min-content min-content;
    grid-template-rows: min-content;
    gap: 3px;
    align-items:center;
    padding: 2px;
}


.MF_SettingsPanel_DevicePriority_Item_EnforceDefault
{
    padding: 0px 3px;
}

.MF_SettingsPanel_DevicePriority_Item_Name
{
    display: flex;
    flex-direction: column;
}

.MF_SettingsPanel_DevicePriority_Item_Name_Text
{
    padding: 0px 3px;
    white-space: nowrap;
}

.MF_SettingsPanel_DevicePriority_Item_Name_Device
{
    padding: 0px 3px;
    white-space: nowrap;
    color: var(--MF_Theme_Accent);
}