

.MF_SettingsPanel
{
    display: grid;
    grid-template-columns: min-content auto min-content min-content;
    grid-template-rows: min-content min-content;
    align-items: center;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
        "image label label managed"
        "image volume text mute";
    
}
